flows_h1s2_full_v10_mqtt.json
[{"id":"0a32126418018bde","type":"tab","label":"Saj APP v4 BT","disabled":false,"info":"","env":[]},{"id":"3a70b8e16b3632d0","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"Type","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"SubType","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"CommProVersion","offset":4,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"string","name":"SN","offset":6,"length":20,"offsetbit":0,"scale":"0.01","mask":""},{"type":"string","name":"PC","offset":26,"length":20,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"DV","offset":46,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"MCV","offset":48,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"SCV","offset":50,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"DispHW_Version","offset":52,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"CtrlHW_Version","offset":54,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"PowerHWVersion","offset":56,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BatNum","offset":58,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":120,"wires":[["af6922fa89bc525b","808fb8b6d893dcea"]]},{"id":"af6922fa89bc525b","type":"debug","z":"0a32126418018bde","name":"4.1 Information Registers (all)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":160,"wires":[]},{"id":"14d562afc7002728","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"BusVoltMaster","offset":0,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BusVoltSlave","offset":2,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatVolt","offset":4,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"BatCurr","offset":6,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"BatCurr1","offset":8,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"BatCurr2","offset":10,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"BatPower","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"BatTempC","offset":14,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatEnergyPercent","offset":16,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"PV1Volt","offset":20,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"PV1Curr","offset":22,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"PV1Power","offset":24,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"PV2Volt","offset":26,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"PV2Curr","offset":28,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"PV2Power","offset":30,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":440,"wires":[["e32931793e7f694f","6b0d4b744c267d68"]]},{"id":"e32931793e7f694f","type":"debug","z":"0a32126418018bde","name":"4.3 Realtime Data #3 (16487 - 16502)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":480,"wires":[]},{"id":"dd3cac9bdc9bef7a","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":800,"wires":[]},{"id":"4bc93a7e4532d2a2","type":"debug","z":"0a32126418018bde","name":"4.5 Special Registers #1 (12808 - 12852)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":800,"wires":[]},{"id":"9a09cd296984d16b","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"SafetyType","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"FunMask","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ReConnTime","offset":36,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ReactiveMode","offset":42,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ReactiveValue","offset":44,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"GridVolt10mHigh","offset":56,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"GridVoltHigh","offset":58,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"GridVoltLow","offset":60,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"GridFreqHigh","offset":62,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"GridFreqLow","offset":64,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"GridVoltHigh2","offset":66,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"GridVoltLow2","offset":68,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"GridFreqHigh2","offset":70,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"GridFreqLow2","offset":72,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"GridVoltHighTripTime","offset":74,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridVoltLowTripTime","offset":76,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridVoltHighTripTime2","offset":78,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridVoltLowTripTime2","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridFreqHighTripTime","offset":82,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridFreqLowTripTime","offset":84,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridFreqHighTripTime2","offset":86,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridFreqLowTripTime2","offset":88,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":760,"wires":[["4bc93a7e4532d2a2","f46656f937b30444"]]},{"id":"181b0394fdf1f2d2","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":960,"wires":[]},{"id":"947a7e3bf0e94a79","type":"debug","z":"0a32126418018bde","name":"4.5 Special Registers #3 (12913 - 12921)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":960,"wires":[]},{"id":"eb70b2dca9d151fc","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"BackModSOCRetain","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"EpsModeEn","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatSetSOC_H","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatSetSOC_L","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"CommProtocolType","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"SafetyModeCtrl","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"DRMCertification","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"AgingModel","offset":14,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"FeedCtrlPowerLimit","offset":16,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":920,"wires":[["947a7e3bf0e94a79","de318e04c0efc714"]]},{"id":"ffdebc56dfba8407","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":1040,"wires":[]},{"id":"167a0d308796e3d7","type":"debug","z":"0a32126418018bde","name":"4.5 Special Registers #4 (13828 - 13883)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":1040,"wires":[]},{"id":"ec422d42b1509a97","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"Charge_time_enable_control","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Discharge_time_enable_control","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"First_charge_start_time","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"First_charge_end_time","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"First_charge_power_time","offset":8,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Second_charge_start_time","offset":10,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Second_charge_end_time","offset":12,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Second_charge_power_time","offset":14,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Third_charge_start_time","offset":16,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Third_charge_end_time","offset":18,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Third_charge_power_time","offset":20,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fourth_charge_start_time","offset":22,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Fourth_charge_end_time","offset":24,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"hex","name":"Fourth_charge_power_time","offset":26,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fifth_charge_start_time","offset":28,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fifth_charge_end_time","offset":30,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fifth_charge_power_time","offset":32,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Sixth_charge_start_time","offset":34,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Sixth_charge_end_time","offset":36,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Sixth_charge_power_time","offset":38,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Seventh_charge_start_time","offset":40,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Seventh_charge_end_time","offset":42,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Seventh_charge_power_time","offset":44,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"First_discharge_start_time","offset":46,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"First_discharge_end_time","offset":48,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"First_discharge_power_time","offset":50,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Second_discharge_start_time","offset":52,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Second_discharge_end_time","offset":54,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Second_discharge_power_time","offset":56,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Third_discharge_start_time","offset":58,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Third_discharge_end_time","offset":60,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Third_discharge_power_time","offset":62,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fourth_discharge_start_time","offset":64,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fourth_discharge_end_time","offset":66,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fourth_discharge_power_time","offset":68,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fifth_discharge_start_time","offset":70,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fifth_discharge_end_time","offset":72,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Fifth_discharge_power_time","offset":74,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Sixth_discharge_start_time","offset":76,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Sixth_discharge_end_time","offset":78,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Sixth_discharge_power_time","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Seventh_discharge_start_time","offset":82,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Seventh_discharge_end_time","offset":84,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"hex","name":"Seventh_discharge_power_time","offset":86,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Meter_enable","offset":88,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Meter_addr","offset":90,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Buzzer_on-off","offset":92,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"RS485_Addr","offset":94,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"RS485_BaudRate","offset":96,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"PreventReverseFlow_enable","offset":98,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Passive_charge_enable","offset":100,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Passive_GridChargePower","offset":102,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Passive_GridDisChargePower","offset":104,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Battery_protocol","offset":110,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":1000,"wires":[["167a0d308796e3d7","cc6eb236b514aa10"]]},{"id":"db84d9a64368e779","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"MPVMode","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"HFaultMSG","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"MFaultMSG","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"MFaultMSG2","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"SFaultMSG","offset":14,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"SFaultMSG2","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"SinkTempC","offset":24,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"GFCI","offset":28,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ISO4","offset":36,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ConnTime","offset":42,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":280,"wires":[["1b5a73ee6bb3c860","8128c4fcd8c12493"]]},{"id":"1b5a73ee6bb3c860","type":"debug","z":"0a32126418018bde","name":"4.3 Realtime Data #1 (16388 - 16409)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":320,"wires":[]},{"id":"6e9e5ef40177665a","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"RGridVolt","offset":0,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"RGridCurr","offset":2,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"RGridFreq","offset":4,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"RGridDCI","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"RGridPowerWatt","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"RGridPowerVA","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"RGridPowerPF","offset":12,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"RInvVolt","offset":42,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"RInvCurr","offset":44,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"RInvFreq","offset":46,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"RInvPowerWatt","offset":48,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"RInvPowerVA","offset":50,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ROutVolt","offset":72,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"ROutCurr","offset":74,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"ROutFreq","offset":76,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"ROutDVI","offset":78,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ROutPowerWatt","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"ROutPowerVA","offset":82,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":360,"wires":[["f746b6fde2baddd0","d1dc7a5b2333df42"]]},{"id":"f746b6fde2baddd0","type":"debug","z":"0a32126418018bde","name":"4.3 Realtime Data #2 (16433 - 16409)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":400,"wires":[]},{"id":"28d71a6e4d6df490","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":880,"wires":[]},{"id":"77400a69d9528a1f","type":"debug","z":"0a32126418018bde","name":"4.5 Special Registers #2 (12913 - 12921)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":880,"wires":[]},{"id":"d1c2a70a04b67730","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"AppMode","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridChargPowerLimit","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"GridFeedPowerLimit","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatType","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatCapacity","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatProtHigh","offset":10,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatProtLow","offset":12,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatOpenVolt","offset":14,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatLowVolt","offset":16,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatDisDepth","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatFloatVolt","offset":20,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatFloatTime","offset":22,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatChgCurrLimit","offset":24,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatDisCurrLimit","offset":26,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"BatAutoWakeEn","offset":28,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatVoltAdjCoef","offset":30,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":840,"wires":[["77400a69d9528a1f","9b92956cea31c114"]]},{"id":"6bb66878fb74d33c","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":720,"wires":[]},{"id":"be9eb1b81739c46e","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"BatNumber","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BatCap","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat1FaultMSG","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat1warningMSG","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat2FaultMSG","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat2warningMSG","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat3FaultMSG","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat3warningMSG","offset":14,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat4FaultMSG","offset":16,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat4warningMSG","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Reserve","offset":20,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat1SOC","offset":24,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat1SOH","offset":26,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat1Voltage","offset":28,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"Bat1Current","offset":30,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"Bat1Temperature","offset":32,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"Bat1CycleNum","offset":34,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat2SOC","offset":36,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat2SOH","offset":38,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat2Voltage","offset":40,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"Bat2Current","offset":42,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"Bat2Temperature","offset":44,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"Bat2CycleNum","offset":46,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat3SOC","offset":48,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat3SOH","offset":50,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat3Voltage","offset":52,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"Bat3Current","offset":54,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"Bat3Temperature","offset":56,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"Bat3CycleNum","offset":58,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"Bat4SOC","offset":60,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat4SOH","offset":62,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint16le","name":"Bat4Voltage","offset":64,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"int16le","name":"Bat4Current","offset":66,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"int16le","name":"Bat4Temperature","offset":68,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint16le","name":"Bat4CycleNum","offset":70,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":680,"wires":[["02c4b50ac14090a1","db124773a3bfa0f3"]]},{"id":"02c4b50ac14090a1","type":"debug","z":"0a32126418018bde","name":"4.4 Primary Controller Data (all)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":720,"wires":[]},{"id":"9f1f95bc55605e0f","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"BMS1_type","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BMS1_SN","offset":2,"length":16,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BMS1_software_Version","offset":18,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BMS1_hardware_Version","offset":20,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BAT1_type","offset":22,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BAT1_SN","offset":24,"length":16,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BMS2_type","offset":40,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BMS2_SN","offset":42,"length":16,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BMS2_software_Version","offset":58,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BMS2_hardware_Version","offset":60,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BAT2_type","offset":62,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BAT2_SN","offset":64,"length":16,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BMS3_type","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BMS3_SN","offset":82,"length":16,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BMS3_software_Version","offset":98,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BMS3_hardware_Version","offset":100,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BAT3_type","offset":102,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BAT3_SN","offset":104,"length":16,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BMS4_type","offset":120,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BMS4_SN","offset":122,"length":16,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BMS4_software_Version","offset":138,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BMS4_hardware_Version","offset":140,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint16le","name":"BAT4_type","offset":142,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"BAT4_SN","offset":144,"length":16,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":200,"wires":[["c7717ce16cebab80","6fa419c5abde8dc8"]]},{"id":"c7717ce16cebab80","type":"debug","z":"0a32126418018bde","name":"4.2 Realtime Data (all)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":240,"wires":[]},{"id":"25806b05f23e725e","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":560,"wires":[]},{"id":"dd3d4027b975a23b","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"PV_direction","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"Battery_direction","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"Grid_direction","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"OutPut_direction","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"SysTotalLoadWatt","offset":22,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"SysTotalLoadWatt2","offset":24,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"TotalPVPower","offset":32,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"TotalBatteryPower","offset":34,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"TotalGridPowerWatt","offset":36,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"TotalGridPowerVA","offset":38,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"TotalInvPowerWatt","offset":40,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"TotalInvPowerVA","offset":42,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BackupTotalLoadPowerWatt","offset":44,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"BackupTotalLoadPowerVA","offset":46,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":520,"wires":[["faf17acd88d559b9","01777695adacd3e1"]]},{"id":"faf17acd88d559b9","type":"debug","z":"0a32126418018bde","name":"4.3 Realtime Data #4 (16533 - 16556)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":560,"wires":[]},{"id":"bd60d502c79422ce","type":"modbus-getter","z":"0a32126418018bde","name":"4.1 Information Registers [0x8FF0 - 0x8F1D] [36608 - 36637] ","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"36608","quantity":"30","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":140,"wires":[["3a70b8e16b3632d0","6348e5f7e36aa21b"],[]]},{"id":"c37e58eaabb0e17b","type":"modbus-getter","z":"0a32126418018bde","name":"4.2 Realtime Data [0x8E00 - 0x8E48] [36352 - 36424]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"36352","quantity":"73","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":220,"wires":[["9f1f95bc55605e0f","cf96bc62447ca6d0"],[]]},{"id":"31b038e8efb1f08b","type":"modbus-getter","z":"0a32126418018bde","name":"4.3 Realtime Data #1 [0x4004 - 0x4019] [16388 - 16409]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"16388","quantity":"42","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":530,"y":300,"wires":[["db84d9a64368e779","f8a32ea0133d7557"],[]]},{"id":"b538b1c4e2e10c13","type":"modbus-getter","z":"0a32126418018bde","name":"4.3 Realtime Data #3 [0x4067 - 0x4076] [16487-16502]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"16487","quantity":"30","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":460,"wires":[["14d562afc7002728","4d228d1a3a9d0c3f"],[]]},{"id":"f5ea72a4574a7efe","type":"inject","z":"0a32126418018bde","name":"1 h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":580,"wires":[["31b038e8efb1f08b","b855b15790941d57","a9f5e5418d48f0fd","84f95f90788c9ff3","a871bbfb9080d61a","f7eee8a6181d84c4","124f87c7a5dfdcd1","c37e58eaabb0e17b"]]},{"id":"5c0955ab39209a82","type":"inject","z":"0a32126418018bde","name":"10 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":660,"wires":[["b538b1c4e2e10c13","60dd48ea335f4d68","81a2c6412dbef8a8"]]},{"id":"b855b15790941d57","type":"modbus-getter","z":"0a32126418018bde","name":"4.3 Realtime Data #2 [0x4031 - 0x405A] [16433 - 16409]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"16433","quantity":"42","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":530,"y":380,"wires":[["6e9e5ef40177665a","71fab06231be414b"],[]]},{"id":"60dd48ea335f4d68","type":"modbus-getter","z":"0a32126418018bde","name":"4.3 Realtime Data #4 [0x4095 - 0x40AC] [16533 - 16556]","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"16533","quantity":"24","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":530,"y":540,"wires":[["dd3d4027b975a23b","25806b05f23e725e"],[]]},{"id":"124f87c7a5dfdcd1","type":"modbus-getter","z":"0a32126418018bde","name":"4.4 Primary Controller Data [0x - 0x] [40960 - 40995]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"40960","quantity":"36","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":700,"wires":[["be9eb1b81739c46e","6bb66878fb74d33c"],[]]},{"id":"a9f5e5418d48f0fd","type":"modbus-getter","z":"0a32126418018bde","name":"4.5 Special Registers #1 [0x3208 - 0x3234] [12808 - 12852]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"12808","quantity":"45","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":780,"wires":[["9a09cd296984d16b","dd3cac9bdc9bef7a"],[]]},{"id":"81a2c6412dbef8a8","type":"modbus-getter","z":"0a32126418018bde","name":"4.5 Special Registers #2 [0x3247 - 0x3256] [12871 - 12886]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"12871","quantity":"16","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":860,"wires":[["d1c2a70a04b67730","28d71a6e4d6df490"],[]]},{"id":"84f95f90788c9ff3","type":"modbus-getter","z":"0a32126418018bde","name":"4.5 Special Registers #3 [0x3271 - 0x3279] [12913 - 12921]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"12913","quantity":"9","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":940,"wires":[["eb70b2dca9d151fc","181b0394fdf1f2d2"],[]]},{"id":"a871bbfb9080d61a","type":"modbus-getter","z":"0a32126418018bde","name":"4.5 Special Registers #4 [0x3604 - 0x363B] [13828 - 13883]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"13828","quantity":"56","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":1020,"wires":[["ec422d42b1509a97","ffdebc56dfba8407"],[]]},{"id":"28ec488b231b3a7b","type":"inject","z":"0a32126418018bde","name":"24 h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["bd60d502c79422ce"]]},{"id":"d38ff8f3a081f619","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":640,"wires":[]},{"id":"5283ee21f6869133","type":"buffer-parser","z":"0a32126418018bde","name":"Data Converter","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32le","name":"Today_PVEnergy","offset":0,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_PVEnergy","offset":4,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_PVEnergy","offset":8,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_PVEnergy","offset":12,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Today_BatChgEnergy","offset":16,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_BatChgEnergy","offset":20,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_BatChgEnergy","offset":24,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_BatChgEnergy","offset":28,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Today_BatDisEnergy","offset":32,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_BatDisEnergy","offset":36,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_BatDisEnergy","offset":40,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_BatDisEnergy","offset":44,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Today_TotalLoadEnergy","offset":64,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_TotalLoadEnergy","offset":68,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_TotalLoadEnergy","offset":72,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_TotalLoadEnergy","offset":76,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Today_BackupLoadEnergy","offset":80,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_BackupLoadEnergy","offset":84,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_BackupLoadEnergy","offset":88,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_BackupLoadEnergy","offset":92,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Today_SellEnergy","offset":96,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_SellEnergy","offset":100,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_SellEnergy","offset":104,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_SellEnergy","offset":108,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Today_FeedInEnergy","offset":112,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Month_FeedInEnergy","offset":116,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Year_FeedInEnergy","offset":120,"length":1,"offsetbit":0,"scale":"0.01","mask":""},{"type":"uint32le","name":"Total_FeedInEnergy","offset":124,"length":1,"offsetbit":0,"scale":"0.01","mask":""}],"swap1":"swap32","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"return","multipleResult":true,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":900,"y":600,"wires":[["82c7810fc99fd247","86471ee9de289bba"]]},{"id":"82c7810fc99fd247","type":"debug","z":"0a32126418018bde","name":"4.3 Realtime Data #5 (16575 - 16637)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":640,"wires":[]},{"id":"f7eee8a6181d84c4","type":"modbus-getter","z":"0a32126418018bde","name":"4.3 Realtime Data #5 [0x40BF - 0x40FD] [16575 - 16637]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"16575","quantity":"64","server":"52312664ec64f7cf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":530,"y":620,"wires":[["5283ee21f6869133","d38ff8f3a081f619"],[]]},{"id":"67ef66d29a65c399","type":"comment","z":"0a32126418018bde","name":"Here! you can change your TOPIC","info":"","x":1440,"y":120,"wires":[],"icon":"node-red/light.svg"},{"id":"808fb8b6d893dcea","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/information/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/information/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":120,"wires":[["46e8174bd1aa9447"]]},{"id":"6fa419c5abde8dc8","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/realtime/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/realtime/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":200,"wires":[["46e8174bd1aa9447"]]},{"id":"8128c4fcd8c12493","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/realtime/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/realtime/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":280,"wires":[["46e8174bd1aa9447"]]},{"id":"d1dc7a5b2333df42","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/realtime/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/realtime/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":360,"wires":[["46e8174bd1aa9447"]]},{"id":"6b0d4b744c267d68","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/realtime/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/realtime/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":440,"wires":[["46e8174bd1aa9447"]]},{"id":"01777695adacd3e1","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/realtime/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/realtime/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":520,"wires":[["46e8174bd1aa9447"]]},{"id":"86471ee9de289bba","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/realtime/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/realtime/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":600,"wires":[["46e8174bd1aa9447"]]},{"id":"db124773a3bfa0f3","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/primarycontroller/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/primarycontroller/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":680,"wires":[["46e8174bd1aa9447"]]},{"id":"f46656f937b30444","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/special/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/special/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":760,"wires":[["46e8174bd1aa9447"]]},{"id":"9b92956cea31c114","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/special/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/special/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":840,"wires":[["46e8174bd1aa9447"]]},{"id":"de318e04c0efc714","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/special/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/special/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":920,"wires":[["46e8174bd1aa9447"]]},{"id":"cc6eb236b514aa10","type":"change","z":"0a32126418018bde","name":"Topic: sajh1/special/","rules":[{"t":"set","p":"topic","pt":"msg","to":"'sajh1/special/' & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1000,"wires":[["46e8174bd1aa9447"]]},{"id":"46e8174bd1aa9447","type":"mqtt out","z":"0a32126418018bde","name":"To my Mqtt","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d37a6abe25538c31","x":1710,"y":720,"wires":[]},{"id":"4d228d1a3a9d0c3f","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":480,"wires":[]},{"id":"71fab06231be414b","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":400,"wires":[]},{"id":"f8a32ea0133d7557","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":320,"wires":[]},{"id":"cf96bc62447ca6d0","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":240,"wires":[]},{"id":"6348e5f7e36aa21b","type":"debug","z":"0a32126418018bde","name":"debug full","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":160,"wires":[]},{"id":"a75855ad6a2e2b77","type":"comment","z":"0a32126418018bde","name":"Telegram: https://t.me/saj_nooficialoriginal    ","info":"","x":200,"y":60,"wires":[],"icon":"node-red/light.svg"},{"id":"52312664ec64f7cf","type":"modbus-client","name":"Dongle","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.1.190","tcpPort":"8080","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"10","clientTimeout":"3000","reconnectOnTimeout":true,"reconnectTimeout":"200","parallelUnitIdsAllowed":true},{"id":"d37a6abe25538c31","type":"mqtt-broker","name":"Mqtt Local","broker":"homeassistant.local","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
